.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding: 0 2.5rem 0 2.5rem; */
  /* border: 2px solid salmon; */
}

.dashboard-header {
  padding: 1.5rem 1rem;
  text-align: center;
}

.dashboard-title {
  color: var(--text-primary);
  font-size: 1.5rem;
  font-weight: 600;
}

.dashboard-subtitle {
  margin-top: 0.5rem;
  color: var(--text-muted);
  font-size: var(--font-size-small);
}

.soft-divider {
  /* height: 1px;
  background-color: var(--border-subtle); */
  border: none;
  height: 2px;
  background: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-accent)
  );
}

.dashboard-controls {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.dashboard-controls label {
  text-align: center;
  color: var(--text-secondary);
  font-size: var(--font-size-medium);
}

.dashboard-controls select {
  width: auto;
  appearance: none;
  padding-right: 2rem; /* space for arrow */
  cursor: pointer;
}

.select-wrapper {
  position: relative;
  /* display: inline-block; */
  width: auto;
  /* border: 2px solid palegreen; */
}

.select-wrapper::after {
  content: "▾";
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  /* padding-left: 1rem; */

  color: var(--text-muted);
  font-size: var(--font-size-small);
  /* border: 2px solid orange; */
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-items: center;
  gap: 1rem 0.5rem;
  padding: 1.5rem;
  background-color: var(--bg-surface);
  border-radius: 10px;
  /* border: 5px solid salmon; */
}

.dashboard-empty-state {
  grid-column: 1 / -1; /* span full grid */
  text-align: center;
  padding: 1.5rem 1rem;

  color: var(--text-secondary);
}

.empty-title {
  font-size: var(--font-size-large);
  margin-bottom: 0.5rem;
  color: var(--text-primary);
}

.empty-subtitle {
  font-size: var(--font-size-medium);
  color: var(--text-secondary);
}
