.dashboard-controls {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border: 2px solid orange;
}

.dashboard-controls select {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  font-size: 1rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: 1rem;

  /* keeps grid responsive on smaller screens */
  justify-items: center;

  border: 5px solid salmon;
}

@media (max-width: 1200px) {
  .dashboard-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .dashboard-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .dashboard-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
