.dashboard-controls {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  /* background-color: var(--bg-surface); */
  border-radius: 12px;
  border: 1px solid var(--border-subtle);
}

.dashboard-controls label {
  color: var(--text-secondary);
  font-size: var(--font-size-medium);
}

.dashboard-controls select {
  max-width: 180px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: 1rem;

  /* keeps grid responsive on smaller screens */
  justify-items: center;

  border: 5px solid salmon;
}

.dashboard-empty-state {
  grid-column: 1 / -1; /* span full grid */
  text-align: center;
  padding: 3rem 1rem;
  color: var(--text-secondary);
}

.empty-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
}

.empty-subtitle {
  font-size: 0.95rem;
  color: var(--text-muted);
}

@media (max-width: 1200px) {
  .dashboard-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .dashboard-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .dashboard-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
