.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
}

.home-trending {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-trending__title {
  margin: 2rem 0 0.3rem 2.5rem;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  color: var(--text-secondary);
}
