PORT=3500
NODE_ENV=development

# Docker Compose:
# postgresql://postgres:password@db:5432/poplog
# Local development:
# postgresql://postgres:password@localhost:5432/poplog
DATABASE_URL=

ACCESS_TOKEN_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

TMDB_ACCESS_TOKEN=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
NYT_API_KEY=
RESEND_API_KEY=

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:3500