.carousel {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  gap: 1.5rem;
  padding: 0.7rem;
  /* border: 3px solid pink; */
}

.carousel::-webkit-scrollbar {
  display: none;
}
