.rate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border: 2px solid purple;
}

.star-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid yellow;
}

.star-conatiner > h4 {
  font-size: 1rem;
}

.stars-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 0.2rem;
}

.star {
  font-size: 2rem;
  cursor: pointer;
}

.heart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid red;
}

.heart-conatiner > h4 {
  font-size: 1rem;
}

.heart {
  font-size: 2rem;
  cursor: pointer;
}
