.rate-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.star {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 0.2rem;
}

.heart {
  font-size: 2rem;
  cursor: pointer;
}
