.genre-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  white-space: nowrap;
  border: 2px solid pink;
  padding: 1rem;
}

.genre-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  border: 2px solid blueviolet;
}

.genre-dropdown-label {
  font-size: var(--font-size-medium);
  color: var(--text-secondary);
  text-align: center;
  /* border: 2px solid aqua; */
}

.genre-select-wrapper {
  position: relative;
  /* display: inline-block; */
  width: max-content;
  /* border: 2px solid palegreen; */
}

.genre-dropdown-select {
  appearance: none;
  padding-right: 2rem; /* space for arrow */
  cursor: pointer;
  /* border: 2px solid red; */
}

.genre-select-wrapper::after {
  content: "▾";
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  /* padding-left: 1rem; */

  color: var(--text-muted);
  font-size: var(--font-size-small);
  /* border: 2px solid orange; */
}
