.media-selector {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.category-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(229, 231, 234);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.category-link:hover {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.category-link.active {
  background-color: rgb(229, 231, 234);
  color: var(--color-secondary);
  border-color: rgb(229, 231, 234);
}
